.all-videos-container {
    padding: 60px 0;
}

.all-videos-title {
    color: white;
    text-align: center;
    margin: 0 20px;
    padding: 20px 0;
    border-top: .5px solid #fcd277;
    border-bottom: .5px solid #fcd277;
}

.all-videos-filter-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 5px;
} 

@media only screen and (min-width: 540px) {
    .all-videos-filter-wrapper {
        padding: 20px 0;
    }
}

@media only screen and (min-width: 768px) {
    .all-videos-filter-wrapper {
        justify-content: flex-start;
        padding: 20px;
    }
}

.all-videos-filter-btn {
    background-color: transparent;
    color: white;
    border: none;
}

.all-videos-filter-text {
    padding-left: 20px;
    color: #e4e0e0;
}

@media only screen and (min-width: 540px) {
    .all-videos-filter-text {
        padding-top: 5px;
        margin-left: 90px;
    }
}

.all-videos-filter-icon {
    background-color: transparent;
    border: none;
}

@media only screen and (min-width:540px) {
    .all-videos-filter-icon {
        margin-top: 5px;
    } 
}

.all-videos-wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

@media only screen and (min-width: 768px) {
    .all-videos-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.video-section-wrapper {
    min-height: 600px;
    background-color: #171519;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border-radius: 10px;
    padding: 0;
    margin-bottom: 30px;
}

iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    padding: 0;
}

.video-text-wrapper {
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    margin: 0;
}

.video-title {
    color: white;
    font-size: 20px;
}

.video-like-btns-wrapper {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.video-dislike-btn {
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #e4e0e0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border: 1px solid #615c5c;
    border-radius: 10px;
}

.video-dislike-btn:hover {
   border: 1px solid #b750fc;
   color: #b750fc;
}

.video-like-btn {
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #e4e0e0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border: 1px solid #615c5c;
    border-radius: 10px;
}
 
.video-like-btn:hover {
    border: 1px solid #f0b22c;
    color: #f0b22c;
}

.video-rating-text {
    color: #e4e0e0;
}
 
.video-delete-btn {
    width: 50px;
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid #615c5c;
    color: white;
    border-radius: 5px;
}

.video-delete-btn:hover {
    background-color: rgb(212, 4, 4);
    border: none;
}

