.steps-wrapper {
    z-index: -50;
    width: 100%;
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: .5px solid #fcd277;
}

@media only screen and (min-width: 768px) {
    .steps-wrapper {
        width: 110%;
    }
}

.steps-title {
    font-size: 24px;
    color: #e4e0e0;
}

@media only screen and (min-width: 540px) {
    .steps-title {
        font-size: 34px;
        color: #e4e0e0;
    }
}

.steps-section-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 540px) {
    .steps-section-wrapper  {
        width: 90%;
    }
}



